
#wb_header { background: transparent none repeat scroll left top; height: 110px; }
#wb_main { background: #ffffff none repeat scroll left top; height: 810px; padding-bottom: 50px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 70px; }
body { background: transparent url("../gallery_gen/dc9fbac843814239c4e5e5e37beccbcf.jpg") repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery_gen/fb403678931ea5950f57c939788cfc82.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 1200px; min-height: 990px; }
.root { width: 1200px; height: 990px; overflow: visible; min-height: 990px; }
#wb_element_instance38 { left: 700px; top: 40px; min-width: 500px; width: 500px; min-height: 57px; height: 57px; display: block; z-index: 94; }
#wb_element_instance38 ul { background: transparent none no-repeat scroll center top; border: 1px none #000000; }
#wb_element_instance38, #wb_element_instance38 ul { text-align: right; }
#wb_element_instance38 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance38 li { margin: 0px 0px 0px 0px; }
#wb_element_instance38 li a { text-transform: uppercase; border: 0px none #000000; padding: 19px 30px 19px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance38 li.over > a, #wb_element_instance38 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9854c9; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance38 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9552c4; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance38:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance38:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance38:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance39 { left: 70px; top: 27px; min-width: 460px; width: 460px; min-height: 57px; height: 57px; display: block; z-index: 92; }
#wb_element_instance40 { left: 0px; top: 24px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; z-index: 93; }
#wb_element_instance40 img { width: 50px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance41 { left: 40px; top: 27px; min-width: 247px; width: 247px; min-height: 32px; height: 32px; display: block; z-index: 92; }
#wb_element_instance42 { left: 40px; top: 40px; min-width: 1120px; width: 1120px; min-height: 54px; height: 54px; display: block; z-index: 22; }
#wb_element_instance43 { left: 290px; top: 190px; min-width: 870px; width: 870px; min-height: 230px; height: 230px; display: block; z-index: 23; }
#wb_element_instance43 form .form-area-field { height: 116px; }
#wb_element_instance43 form td { text-align: right; }
#wb_element_instance43 form tr.area-row > th { height: 1%; }
#wb_element_instance43 form tr.area-row > td { height: 1%; }
#wb_element_instance44 { left: 40px; top: 190px; min-width: 200px; width: 200px; min-height: 132px; height: 132px; display: block; z-index: 24; }
#wb_element_instance45 { left: 40px; top: 120px; min-width: 1120px; width: 1120px; min-height: 44px; height: 44px; display: block; z-index: 25; }
#wb_element_instance46 { left: 40px; top: 460px; min-width: 1120px; width: 1120px; min-height: 300px; height: 300px; display: block; z-index: 26; }
#wb_element_instance47 { left: 0px; top: 750px; display: block; z-index: 9000; }
#wb_element_instance48 { left: 0px; top: 72px; display: block; z-index: 9999; }


#wb_element_instance39 p:last-child { margin-bottom: 0; }
#wb_element_instance41 p:last-child { margin-bottom: 0; }
#wb_element_instance42 p:last-child { margin-bottom: 0; }
#wb_element_instance43 form tr.form-footer > td { height: 20px; }
#wb_element_instance44 p:last-child { margin-bottom: 0; }
#wb_element_instance45 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
